version: "3.8"

services:
  postgres:
    image: postgres:16
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: travel
      POSTGRES_PASSWORD: travelpass
      POSTGRES_DB: travel_guides
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6380:6379"
    command: redis-server --save "" --appendonly no

volumes:
  pgdata:
